/**
 * This file will be the head of all the other SCSS files in the project.
 *
 * Use it to customise the look and feel of the app.
 */

// Colors.
$positive: #387ef5;

// Setting the default button to button-outline.
$button-default-bg: transparent;
$button-default-text: $positive;
$button-default-border: $positive;
$button-default-active-bg: $positive;
$button-default-active-border: $positive;

// The path to the font icons.
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic.
@import "www/lib/ionic/scss/ionic";

// Include all of Spark Mobile.
@import "www/build/mm.bundle.scss";

// Setting the default button to button-outline.
.button.active,
.button.activated {
  box-shadow: none;
  color: #fff;
}

.academic_summary table tr td:first-child {
    text-align: left;
}

.academic_summary table tr td {
    //background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px !important;
    padding: 15px 7px !important;
    text-align: center;
}

.academic_summary table tr:nth-child(even) {
    background: #f5f5f5;
}

.academic_summary{
  overflow-x: auto;
}

.academic_summary table {
    width: 100%;
}

.academic_summary table tr td a {
    color: #333;
    text-decoration: none;
}

.academic_summary table tr:first-child td {
    font-weight: bold;
}

.item[title="Academic Summary"] {
    /*display: none;*/
}

//custom icon color
.icon {
color: #387EF5 !important;
font-size: 16px;
}

.has-side-menu-header {
  background-color: #3f4041 !important; /* This sets the background color*/
 }
